<appSettings>
  <add key="UpdateUrl" value="http://localhost/update/{0}/info.json" />
  <add key="UpdateUrl2" value="http://localhost:8081/update/{0}/info.json" />
  <add key="ServicesUrl" value="http://localhost:5000/" />
  <add key="UpdateBranch" value="stable" />
  <add key="ThrowAllErrors" value="True" />
  <add key="OfflineMode" value="True" />
  <add key="PipeEndpoint" value="net.pipe://localhost/PlaynitePipe" />
</appSettings>