<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net452" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net462" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net462" />
  <package id="CefSharp.Common" version="75.1.142" targetFramework="net462" />
  <package id="CefSharp.OffScreen" version="75.1.142" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="75.1.142" targetFramework="net462" />
  <package id="CommandLineParser" version="2.5.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="DynamicLanguageRuntime" version="1.2.1" targetFramework="net462" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net462" />
  <package id="Flurl" version="2.7.1" targetFramework="net462" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net462" />
  <package id="IronPython" version="2.7.8.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.9" targetFramework="net462" />
  <package id="Polly" version="5.1.0" targetFramework="net462" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net462" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="System.IO.Abstractions" version="2.1.0.227" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net452" />
  <package id="YamlDotNet" version="5.4.0" targetFramework="net462" />
</packages>