<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="DynamicLanguageRuntime" version="1.2.1" targetFramework="net462" />
  <package id="IronPython" version="2.7.8.1" targetFramework="net462" />
  <package id="Moq" version="4.10.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NUnit" version="3.11.0" targetFramework="net462" />
  <package id="System.IO.Abstractions" version="2.1.0.227" targetFramework="net462" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.1.0.227" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
</packages>