a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 16px;
}

.tabGroup section[role="tabpanel"] > :first-child {
    margin: -16px;
}

.tabGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
    font-size: 1rem;
}

li > p {
    margin-bottom: 0;
}

/* LIGTH */

[data-bs-theme=light] {
    --bs-info-text-emphasis: var(--bs-body-color);
    --bs-warning-text-emphasis: var(--bs-body-color);
    --bs-code-color: #ce0000;
}

[data-bs-theme="light"] .hljs-comment {
    color: #007b20;
}

/* DARK */

[data-bs-theme=dark] {
    --bs-body-color: #e6e6e6;
    --bs-body-bg: #171717;
    --bs-info-text-emphasis: var(--bs-body-color);
    --bs-info-bg-subtle: #004173;
    --bs-warning-text-emphasis: var(--bs-body-color);
    --bs-secondary-rgb: 217 217 217;
    --bs-code-color: #fb7ddb;
}

[data-bs-theme="dark"] .hljs {
    background: #2f2f2f;
    color: var(--bs-body-color);
}

[data-bs-theme="dark"] .hljs-comment {
    color: #00d738;
}
