@media (min-width:992px){.container{width:970px}
}
@media (min-width:1350px){.container{width:1300px}
}

body {
    font-size: 16px;
}

p {
    margin: 0 0 20px;
}

ul {
    margin-bottom: 20px;
}

p + ul {
    margin-top: -10px;
    margin-bottom: 20px;
}

.tabGroup section[role="tabpanel"] > .codeHeader, .tabGroup section[role="tabpanel"] > pre
{
    border-radius: 0px;
}

.tabGroup section[role="tabpanel"] > :first-child
{
    margin-top: -16px;
}

.tabGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert-info {
    color: #333;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

article h4 {
    border-bottom: 0px;
}

code {
    color: #c7254e;
}

.hljs-string {
    color: #df5000;
}

.hljs-comment, .hljs-meta {
    color: #03992b;
}