<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="UpdateUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="UpdateUrl2" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="ServicesUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="ThrowAllErrors" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="OfflineMode" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>