<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="UpdateUrl" value="http://www.playnite.link/update/update.json" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="UpdateUrl2" value="http://185.28.100.135/update/update.json" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="ServicesUrl" value="http://185.28.100.135:8080/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>