<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="UpdateUrl" value="http://localhost/update/{0}/info.json" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="UpdateUrl2" value="http://localhost:8081/update/{0}/info.json" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="ServicesUrl" value="http://localhost:5000/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="ThrowAllErrors" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>