<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nett" version="0.10.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.9" targetFramework="net462" />
  <package id="sqlite-net-pcl" version="1.1.0" targetFramework="net462" />
  <package id="SQLitePCL.raw" version="0.8.4" targetFramework="net462" />
  <package id="System.IO.Abstractions" version="2.1.0.227" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net462" />
  <package id="YamlDotNet" version="5.4.0" targetFramework="net462" />
</packages>