[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = none

# IDE0025: Use expression body for properties
dotnet_diagnostic.IDE0025.severity = none
